.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
  flex-basis: unset;
  flex-grow: unset;
}

body .wp-block-gallery.has-nested-images figure.wp-block-image img {
  display: block;
  height: auto;
  max-width: 100% !important;
}

/*.fw-semibold {
  text-shadow: 0.03rem 0 0 currentColor !important;
}*/
#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  min-height: unset;
  padding-top: 0 !important;
}

.footer {
  margin-top: auto;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

img.logo.md, img.logo.sm {
  height: auto;
  width: 100%;
  transition: all 350ms linear !important;
}

.icon-animation, #right-fixed-btn i {
  animation: rotate-icon 8s ease-in-out infinite;
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes beat {
  0% {
    font-size: 1.5rem;
  }
  5% {
    font-size: 1.75rem;
  }
  10% {
    font-size: 1.5rem;
  }
  15% {
    font-size: 1.75rem;
  }
  20% {
    font-size: 1.5rem;
  }
  25% {
    font-size: 1.25rem;
  }
  96% {
    font-size: 1.25rem;
  }
}
#right-fixed-btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 285px;
  right: 0;
  z-index: 1030;
  top: 150px;
}
#right-fixed-btn .item {
  display: flex;
  margin: 0 0 0.6rem;
  padding-right: 1rem;
  align-items: center;
  border-bottom-left-radius: 36px;
  border-top-left-radius: 36px;
  overflow: hidden;
  transition: right 350ms linear;
  color: white;
}
#right-fixed-btn .item .hupa_kontakt {
  font-weight: 400;
}
#right-fixed-btn .item .hupa_kontakt a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
#right-fixed-btn .item.first-item {
  background-color: red;
  position: relative;
  right: -263px;
}
#right-fixed-btn .item.first-item:hover {
  background-color: red;
  right: 0;
}
#right-fixed-btn .item.second-item {
  background-color: red;
  right: -264px;
  position: relative;
}
#right-fixed-btn .item.second-item:hover {
  background-color: red;
  right: -100px;
}
#right-fixed-btn i {
  color: white;
  min-width: 3.5rem;
  text-align: center;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  height: 100%;
  font-size: 1.3rem;
}

button.navbar-toggler i.fa {
  background-color: #009FDA !important;
}

button.navbar-toggler i.fa:before {
  background-color: #009FDA !important;
}

button.navbar-toggler i.fa:after {
  background-color: #009FDA !important;
}

.btn2 .icon:before {
  background-color: #009FDA !important;
}

.btn2 .icon:after {
  background-color: #009FDA !important;
}

/** NAVIGATION */
#nav-main-starter.navbar-root {
  border-bottom: unset !important;
}
#nav-main-starter.navbar-root .navbar-nav .nav-link:not(.mega-menu-wrapper .nav-link) {
  margin: 0 0.1rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem !important;
  white-space: nowrap !important;
}
#nav-main-starter.navbar-root .dropdown-menu {
  border-radius: 0 !important;
  border-top: 3px solid #009FDA;
  min-width: 220px;
}
#nav-main-starter.navbar-root .dropdown-menu li.menu-item {
  border-top: unset !important;
}
#nav-main-starter.navbar-root .menu-item a.active {
  color: #009FDA;
  border-bottom: unset !important;
  text-shadow: 0.03rem 0 0 #009FDA !important;
}
#nav-main-starter.navbar-root .menu-item:hover a:not(.menu-item a) {
  border-bottom: unset !important;
  text-shadow: 0.03rem 0 0 #009FDA !important;
}
#nav-main-starter.navbar-root .nav-link:focus, #nav-main-starter.navbar-root .nav-link:hover {
  color: #009FDA !important;
}

.text-body {
  color: #1A0A0D !important;
}
