{% extends "@layout/default-template.twig" %}
{% set container = 'container' %}
{% set headertxt = 'Theme Einstellungen' %}
{% set subtext = 'Settings' %}

  {% block content %}
      <div class="card-body" style="min-height: 55vh">
          <button data-type="overview" data-target="#colImportOverview" data-parent="#collParent"
                  class="btn-toggle btn btn-blue-outline my-1" disabled>
              <i class="bi bi-wrench-adjustable me-1"></i>
              Settings
          </button>
          <button data-type="upload_document" data-target="#colImportSettings" data-parent="#collParent"
                  class="btn-toggle btn btn-blue-outline my-1">
              <i class="bi bi-upload me-1"></i>
              Optionen
          </button>
          <div id="collParent">
              <div id="colImportOverview" data-bs-parent="#collParent" class="collapse show">
                  <hr>
                  Settings
              </div>
              <div id="colAddImport" data-bs-parent="#collParent" class="collapse"></div>

          </div>
      </div>
  {% endblock %}