{% extends "@layout/default-template.twig" %}
{% set container = 'container' %}
{% set headertxt = 'Theme Einstellungen' %}
{% set subtext = 'Settings' %}
  {% block content %}
      <div id="uploadExample" class=" card-body my-4 border rounded">
          <h5>Upload Dokumente</h5>
          <hr>
          <form class="upload-data-image">
              <input type="hidden" name="method" value="dokument_upload">
              <input type="hidden" name="_ajax_nonce" value="{{ nonce }}">
              <input type="hidden" name="action" value="ChildAdmin">
              <div id="fileUploadDropzone" class="dropzone"></div>
              <button type="button" id="clear-dropzone" class="btn btn-blue-outline btn-sm my-2"
                      disabled>
                  Upload abbrechen
              </button>
          </form>
          <div id="uploadTable" class="card mt-5 mb-1 shadow-sm d-none">
              <h5 class="card-header form-background-head"><i
                          class="fa fa-files-o me-1"></i> hochgeladene Dokumente
              </h5>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped nowrap-O w-100">
                          <thead>
                          <tr>
                              <th class="text-center align-middle" scope="col"></th>
                              <th class="text-start align-middle" scope="col">Datei</th>
                              <th class="text-center align-middle" scope="col">Erstellt</th>
                              <th class="text-center align-middle" scope="col">Größe</th>
                              <th class="text-center align-middle" scope="col">Type</th>
                              <th class="text-center align-middle" scope="col">Löschen</th>
                          </tr>
                          </thead>
                          <tbody id="uploadedFiles"></tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  {% endblock %}