<section id="slider-container" class="splide" aria-label="Beautiful Images">
    <div class="splide__track">
        <ul class="splide__list">
            {% block splides %} {% endblock %}
        </ul>
    </div>
</section>